*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    border: 1px solid rgb(67, 67, 67);
}

.caixa1{    
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 100vh;
    position: fixed;
}

.imgZap img{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 10px;
    left: 10px;
    object-fit: cover;
}

#titulo{
    color: white;
    position: fixed;
    font-size: 13px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    top: 16px;
    left: 48px;

}

.navegacao{
    position: fixed;
    top: 45px;
    left: 10px;

    
}

.navegacao a{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 3px 0;

    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.navegacao a:hover{
    background-color: rgb(51, 51, 51);
    border-radius: 100px;
}



.navegacao img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.metaIA a{
    margin-top: 15px;
    margin-bottom: 260px;
}

.midiaicon a{
    margin-bottom: 15px;
}

.fotoUser img{
    border-radius: 100%;
    object-fit: cover;
}










/*----------------------------------------------------*/





.caixa2{ 
    background-color: rgb(27, 27, 27); 
    display: flex; 
    width: 96%; 
    height: calc(100vh - 42px); /*Cálculo para altura da tela*/
    border-radius: 7px 0px 0px 0px; 
    border-top: 1px solid rgb(78, 78, 78); 
    border-left: 1px solid rgb(78, 78, 78); 
    position: absolute; 
    top: 42px; 
    left: 61px; 
}
    





.conversas{ 
    background-color: rgb(27, 27, 27); 
    border-right: 1px solid rgb(78, 78, 78); 
    border-radius: 8px 0px 0px 0px; 

    width: 30%; 
    display: flex; 
    flex-direction: column;
    padding: 20px;

}

.conversasOptions{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.conversasOptions h2{
    color: white;
    font-size: 23px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;

}

.conversasOptions img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin: 0px 10px;

}

.conversasOptions picture{
    display: flex;
}

    

    



.styleOptions{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.styleOptions2{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.styleOptions:hover{
    background-color: rgb(78, 78, 78);
    border-radius: 100px;
}

.styleOptions2:hover{
    background-color: rgb(78, 78, 78);
    border-radius: 100px;
}



.barraBusca{
    display: block;
    margin: 10px 0px;
}

.barraBusca label{
    display: flex;
    align-items: center;
        
    width: 100%;
    border-radius: 100px;
    height: 35px;
    padding: 0px 15px;
    background-color: rgb(67, 67, 67);
}

.barraBusca img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.barraBusca input{
    color: white;
    flex: 1;
    border: none;
        
    margin-left: 10px;
    background-color: transparent;
    outline: none;  

}

.barraBusca input::placeholder{
    color: rgb(160, 160, 160);
    font-size:  15px;
}





.filtro button{
    font-size: 14px;
    font-weight: bold;
    border-radius: 100px;
    border: 1px solid rgb(78, 78, 78);
    color: rgb(160, 160, 160);
    background-color: transparent;

    padding: 7px 10px;
    margin: 0px 2px 10px;

    cursor: pointer;
    transition: background-color 0.2s ease;
    
}

.filtro button:hover{
    background-color: rgb(78, 78, 78);
    border-radius: 100px;
}





.listaContatos {
    flex: 1;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
   

.contatoLateral{
   border-radius: 10px;
   max-height: 70px;
   align-items: center;
   display: flex;
   margin-bottom: 5px;
   margin-right: 5px;

   cursor: pointer; 
   transition: background-color 0.2s ease; 
}   

.contatoLateral:hover{
    background-color: rgb(78, 78, 78);
    border-radius: 10px;
}

.miniHora{
    color: rgb(160, 160, 160);
}

.infGeral{  
    display: block;
    margin: 10px;
    width: 100%;
}


.fotoContato{
    margin: 10px;
}
    
.fotoContato img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
}


.inf{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-self: self-start;
    color: rgb(160, 160, 160);
} 

.inf h3{
    color: white;
    font-size: 19px;
    font-weight: normal;

    align-self: flex-start;
}

.inf span{
    font-size: 12px;
    align-self: flex-end;
}
    


.ultmMensagem{
    display: flex;
    margin: 3px;
    align-items: center;
}

.ultmMensagem p{  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 10px;
    color: rgb(160, 160, 160);
    text-align: center;
}















.chat {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/461/478/desktop-wallpaper-whatsapp-dark-whatsapp-chat.jpg");
}


.areaChat {
    flex: 1;
    overflow-y: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mensagem {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 14px;

}
    
.mensagemRecebida {
    background-color: #202c33;
    border-radius: 10px;
    color: white;

    max-width: 50%;
    align-self: flex-start;

    margin: 10px 0px;
    padding: 5px;
}


.mensagemEnviada {
    background-color: #005c4b;
    border-radius: 10px;
    color: white;

    max-width: 50%;
    align-self: flex-end;

    margin: 10px 0px;
    padding: 5px;
}

.hora {
    display: block;
    font-size: 11px;
    margin-top: 5px;
    text-align: right;
    opacity: 0.7;
}












.tituloChat{
    height: 60px;
    background-color: rgb(27, 27, 27);

    display: flex;
    padding: 15px;
    align-items: center;

    width: 100%;
}


.imagemUsuario {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.imagemUsuario img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


.infUsuario {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.infUsuario h4 {
    color: white;
    font-size: 17px;
    margin-bottom: 1px;
}

.infUsuario p {
    color: rgb(160, 160, 160);
    font-size: 12px;
}

.optionsUsuario {
    margin-left: auto;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionsUsuario a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.optionsUsuario a:hover{
    background-color: rgb(78, 78, 78);
    border-radius: 100px;
}



.optionsUsuario img{
    height: 22px;
    width: 22px;
    margin-right: 10px;
    
}


.ligar{
    align-items: center;
    display: flex;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 100px;
    padding: 7px 20px;
    margin-right: 20px;

    cursor: pointer;
    transition: background-color 0.2s ease; 
}

.ligar p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(160, 160, 160);
}


.ligar:hover{
    background-color: rgb(78, 78, 78);
    border-radius: 100px;
}













.espacoDigitar {
    height: 70px;
}

.barraDigitar{
    display: block;
}
.barraDigitar label{
    display: flex;
    align-items: center;
        
    width: auto;
    border-radius: 100px;
    height: 50px;
    padding: 0px 15px;
    margin: 0px 10px;
    background-color: rgb(40, 40, 40);
}

.barraDigitar img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.barraDigitar input{
    color: white;
    flex: 1;
    border: none;
        
    margin-left: 10px;
    background-color: transparent;
    outline: none;  

}

.barraDigitar input::placeholder{
    color: rgb(160, 160, 160);
    font-size:  15px;
}

    

.mic,
.iconMore,
.sticker {
    height: 40px;
    width: 40px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 0.2s ease;
}



.mic:hover,
.iconMore:hover,
.sticker:hover {
    background-color: rgb(78, 78, 78);
    border-radius: 100px;
}



