*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    border: 1px solid rgb(67, 67, 67);
}

.caixa1{    
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 732px;
    position: fixed;
}

.imgZap img{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 10px;
    left: 10px;
    object-fit: cover;
}

#titulo{
    color: white;
    position: fixed;
    font-size: 13px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    top: 16px;
    left: 48px;

}

.navegacao{
    position: fixed;
    top: 45px;
    left: 20px;
}

.navegacao a{
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}

.navegacao img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.metaIA a{
    margin-top: 15px;
    margin-bottom: 260px;
}

.midiaicon a{
    margin-bottom: 15px;
}

.fotoUser img{
    border-radius: 100%;
    object-fit: cover;
}










/*----------------------------------------------------*/






.caixa2{
    background-color: rgb(27, 27, 27);
    width: 96%;
    height: 690px;
    border-radius: 10px 0px 0px 0px;
    border-top: 1px solid rgb(78, 78, 78);
    border-left: 1px solid rgb(78, 78, 78);
    position: absolute;
    top: 42px;
    left: 61px;
}