*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    border: 1px solid rgb(67, 67, 67);
}

.caixa1{    
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 732px;
    position: fixed;
}

.imgZap img{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 10px;
    left: 10px;
    object-fit: cover;
}

#titulo{
    color: white;
    position: fixed;
    font-size: 13px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    top: 16px;
    left: 48px;

}

.navegacao{
    position: fixed;
    top: 45px;
    left: 20px;
}

.navegacao a{
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}

.navegacao img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.metaIA a{
    margin-top: 15px;
    margin-bottom: 260px;
}

.midiaicon a{
    margin-bottom: 15px;
}

.fotoUser img{
    border-radius: 100%;
    object-fit: cover;
}










/*----------------------------------------------------*/





.caixa2{ 
    background-color: rgb(27, 27, 27); 
    display: flex; 
    width: 96%; 
    height: calc(100vh - 42px); /*Cálculo para altura da tela*/
    border-radius: 7px 0px 0px 0px; 
    border-top: 1px solid rgb(78, 78, 78); 
    border-left: 1px solid rgb(78, 78, 78); 
    position: absolute; 
    top: 42px; 
    left: 61px; 
}
    





.conversas{ 
    background-color: rgb(27, 27, 27); 
    border-right: 1px solid rgb(78, 78, 78); 
    border-radius: 8px 0px 0px 0px; 

    width: 30%; 
    display: flex; 
    flex-direction: column;
    padding: 20px;

}

.conversasOptions{
    display: flex;
    position: relative;
    justify-content: space-between;


    h2{
        color: white;
        font-size: 23px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;

    }

    img{
        width: 25px;
        height: 25px;
        object-fit: cover;
        margin: 0px 10px;

    }
}


.barraBusca{
    display: block;
    margin: 10px 0px;

    label{
        display: flex;
        align-items: center;
        
        width: 100%;
        border-radius: 100px;
        height: 35px;
        padding: 0px 15px;
        background-color: rgb(67, 67, 67);
    }

    img{
        width: 25px;
        height: 25px;
        object-fit: cover;
    }

    input{
        color: white;
        flex: 1;
        border: none;
        
        margin-left: 10px;
        background-color: transparent;
        outline: none;  

    }

    input::placeholder{
        color: rgb(160, 160, 160);
        font-size:  15px;
    }


}

.filtro{
    button{
        font-size: 14px;
        font-weight: bold;
        border-radius: 100px;
        border: 1px solid rgb(78, 78, 78);
        color: rgb(160, 160, 160);
        background-color: transparent;

        padding: 7px 10px;
        margin: 0px 2px 10px;

    }
}




.listaContatos {
    flex: 1;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
   

.contatoLateral{
   border-radius: 10px;
   max-height: 70px;
   align-items: center;
   display: flex;
   margin-bottom: 5px;
   margin-right: 5px;

   cursor: pointer; /* deixa com cara de clicável */
   transition: background-color 0.2s ease; /* animação suave */
}   

.contatoLateral:hover{
    background-color: rgb(78, 78, 78); /* cor estilo WhatsApp */
    border-radius: 10px;
}


.infGeral{  
    display: block;
    margin: 10px;
    width: 100%;
}


.fotoContato{
    margin: 10px;
    
    img{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        object-fit: cover;
    }
}

.inf{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-self: self-start;
    color: rgb(160, 160, 160);
    

    h3{
        font-size: 19px;
        font-weight: normal;

        align-self: flex-start;
    }

    span{
       font-size: 12px;
       align-self: flex-end;
    }
    
}

.ultmMensagem{
    display: flex;
    margin: 3px;
    align-items: center;
    p{  
        margin-left: 10px;
        color: rgb(160, 160, 160);
        text-align: center;
    }
}











.chat {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/461/478/desktop-wallpaper-whatsapp-dark-whatsapp-chat.jpg");
}

.tituloChat {
    height: 60px;
    background-color: rgb(27, 27, 27);
}






.areaChat {
    flex: 1;
    overflow-y: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mensagem {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 14px;

}
    
.mensagemRecebida {
    background-color: #202c33;
    border-radius: 10px;
    color: white;

    max-width: 50%;
    align-self: flex-start;

    margin: 10px 0px;
    padding: 5px;
}


.mensagemEnviada {
    background-color: #005c4b;
    border-radius: 10px;
    color: white;

    max-width: 50%;
    align-self: flex-end;

    margin: 10px 0px;
    padding: 5px;
}

.hora {
    display: block;
    font-size: 11px;
    margin-top: 5px;
    text-align: right;
    opacity: 0.7;
}











.espacoDigitar {
    height: 70px;
    border-top: 1px solid white;
}